
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#App {
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(182, 190, 187);
}

#App-panel {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 700px;
  background-color: teal;
  height: 95vh;
  min-width: 500px;
  color: white;
}

#login-panel,#register-panel {
  align-items: center;
}

#login-panel,#register-panel,#chat-panel,#online-panel {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  height: 100%;
}

h1,a {
  color: ivory;
  padding: 20px;
  white-space: nowrap;
}

.error-border { 
  outline: none;
  border-color: rgb(238, 56, 56);
  box-shadow: 0 0 10px rgb(238, 56, 56);
}

.link {
  border: none;
  color: white;
}

.link:hover {
  cursor: pointer;
}